* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
}

.d1 {
    width: 400px;
    height: 600px;
    background-color: blue;
}

.d2 {
    width: 400px;
    height: 600px;
    background-color: red;
}

.d3 {
    width: 400px;
    height: 600px;
    background-color: green;
}